@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff");
}

@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*--slick--*/
/*--end slick--*/
/*--slideout--*/
/*--end slideout--*/
/*--noUiSlider--*/
/*! nouislider - 10.0.0 - 2017-05-28 14:52:48 */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  -webkit-transition: top .3s,right .3s,bottom .3s,left .3s;
  transition: top .3s,right .3s,bottom .3s,left .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-base, .noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

.noUi-target {
  background: #FAFAFA;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
}

.noUi-connect {
  background: #3FB8AF;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB;
}

.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
}

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips, .noUi-pips * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-large, .noUi-marker-sub {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px;
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

/*--end noUiSlider--*/
/*--------------------adjustment----------------------*/
.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-wrapper .main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.main-wrapper .footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.hidden {
  display: none;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}

._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  padding-bottom: 80%;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

.noUi-base,
.noUi-horizontal {
  height: 2px;
}

.noUi-connect {
  background-color: orange;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 2px;
  top: -1px;
  margin-right: 5px;
  margin-left: -5px;
}

.noUi-target {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  background-color: orange;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50em;
  border-radius: 50em;
  top: 50%;
  margin-top: -7px;
  border: 2px solid #fff;
}

.noUi-horizontal .noUi-handle.noUi-handle-upper {
  margin-left: 5px;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
  display: none;
}

.noUi-target {
  padding-left: 15px;
  padding-right: 0;
  border-color: #7F7F7F;
}

.range-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

input.range__input {
  width: auto;
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
/*--------------------END ui----------------------*/
.header .sidebar-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header .sidebar-menu .dl-submenu {
  opacity: 0;
  visibility: hidden;
}

/*--------------------search-results-page----------------------*/
html.mob-filters-open .results-filter,
html.mob-filters-open .results-filter__header,
html.mob-filters-open .results-filter__buttons {
  visibility: visible;
  opacity: 1;
  left: 0;
}

html.filter-calendar-open .results-filter__item--dates .item-results-filter__dd {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  top: auto;
  z-index: 13;
}

html.filter-calendar-open .results-filter__item--dates .item-results-filter__dd .form_inp,
html.filter-calendar-open .results-filter__item--dates .item-results-filter__dd .item-results-filter__divide,
html.filter-calendar-open .results-filter__item--dates .item-results-filter__dd .item-results-filter__calendar-button {
  display: none;
}

html.filter-calendar-open .results-filter__item--dates .item-results-filter__dd .item-results-filter__buttons {
  padding: 0 24px 24px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

html.filter-calendar-open .item-results-filter__dd .easepick-wrapper {
  visibility: visible;
  opacity: 1;
}

html.filter-calendar-open .filter-cover {
  visibility: visible;
  opacity: .34;
}

.page-search-resuls .title-with-dd {
  padding-top: 40px;
}

@media only screen and (max-width: 991px) {
  .page-search-resuls .title-with-dd {
    padding-top: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .page-search-resuls .crumbs {
    margin-bottom: 12px;
  }
}

.page-search-resuls .place_service-item-icon {
  color: #FC6733;
}

.title-with-dd {
  padding-top: 40px;
  font-size: 42px;
  margin-bottom: 45px;
  font-size: 42px;
  line-height: -webkit-calc(50 / 42);
  line-height: calc(50 / 42);
  font-weight: 500;
}

@media (max-width: 1230px) {
  .title-with-dd {
    font-size: -webkit-calc(31px + 11 * ((100vw - 320px) / 910));
    font-size: calc(31px + 11 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 1230px) {
  .title-with-dd {
    margin-bottom: -webkit-calc(31px + 14 * ((100vw - 320px) / 910));
    margin-bottom: calc(31px + 14 * ((100vw - 320px) / 910));
  }
}

.title-with-dd span {
  margin-right: 16px;
}

.title-with-dd a {
  position: relative;
  color: #FC6733;
  border-bottom: 1px dashed #FC6733;
}

.filter-tags-wrapper {
  position: relative;
}

@media only screen and (max-width: 991px) {
  .filter-tags-wrapper {
    margin-right: -15px;
  }
}

.filter-cover {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #222222;
  z-index: 11;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.filter-tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}

@media only screen and (max-width: 991px) {
  .filter-tags {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 5px;
  }
}

.filter-tags:not(:last-child) {
  margin-bottom: 24px;
}

.filter-tags-wrapper__cover {
  width: 31px;
  height: 100%;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(29.03%, #F9F9FA), to(rgba(249, 249, 250, 0)));
  background: -webkit-linear-gradient(right, #F9F9FA 29.03%, rgba(249, 249, 250, 0) 100%);
  background: linear-gradient(270deg, #F9F9FA 29.03%, rgba(249, 249, 250, 0) 100%);
}

.filter-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding: 10px 15.44px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #FFFFFF;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .filter-tag {
    height: 26px;
    padding: 5px 8px;
  }
}

.filter-tag.active {
  background-color: #FC6733;
  color: #fff;
}

.filter-tag.active .icon-close {
  display: block;
}

.filter-tag .icon-close {
  display: none;
  color: #fff;
}

.filter-tag__icon {
  font-size: 17px;
}

.filter-tag__icon.icon-type {
  font-size: 24px;
}

.filter-tag__name {
  margin-left: 8.6px;
  margin-right: 9.73px;
  font-size: 14px;
}

@media only screen and (max-width: 576px) {
  .filter-tag__name {
    font-size: 12px;
  }
}

.results-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .results-filter {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    left: -100%;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 11;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
}

.results-filter__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 23px 16px 39px 16px;
  height: 98px;
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media only screen and (min-width: 991px) {
  .results-filter__header {
    display: none;
  }
}

.header-results-filter__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.header-results-filter__close {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.results-filter__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}

@media only screen and (max-width: 991px) {
  .results-filter__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 98px;
    padding-bottom: 66px;
  }
}

.results-filter__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 48px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 20px;
  background: #FFFFFF;
  -webkit-border-radius: 44px;
  border-radius: 44px;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .results-filter__item {
    height: auto;
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 19.5px;
    padding-right: 19.5px;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

.results-filter__item--services .item-results-filter__dd {
  width: 421px;
}

@media only screen and (max-width: 991px) {
  .results-filter__item--services .item-results-filter__dd {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.results-filter__item--dates .item-results-filter__dd {
  padding: 24px;
  width: auto;
}

@media only screen and (max-width: 991px) {
  .results-filter__item--dates .item-results-filter__dd {
    padding: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .results-filter__item--dates .item-results-filter__name {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .results-filter__item--cities {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (max-width: 991px) {
  .results-filter__item--cities .item-results-filter__name {
    margin-bottom: 27px;
  }
}

@media only screen and (max-width: 991px) {
  .results-filter__item--prices {
    margin-bottom: 10px;
  }
}

.results-filter__item.active .item-results-filter__dd {
  visibility: visible;
  opacity: 1;
}

.results-filter__item .form_inp {
  position: absolute;
  width: 197px;
  height: 48px;
  top: -48px;
  left: 0;
  opacity: 0;
}

@media only screen and (max-width: 991px) {
  .results-filter__item .form_inp {
    opacity: 1;
    position: static;
  }
}

@media only screen and (max-width: 991px) {
  .results-filter__item .icon-faq_arrow {
    display: none;
  }
}

.item-results-filter__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 16px;
}

.item-results-filter__buttons .btn-sm {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

@media only screen and (max-width: 991px) {
  .item-results-filter__buttons {
    display: none;
  }
}

.results-filter__buttons {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 16px;
  width: 100%;
  height: 66px;
  overflow: hidden;
  bottom: 0;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  gap: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -4px 54px rgba(157, 157, 157, 0.2);
  box-shadow: 0px -4px 54px rgba(157, 157, 157, 0.2);
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media only screen and (min-width: 991px) {
  .results-filter__buttons {
    display: none;
  }
}

.results-filter__buttons a {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.btn-sm {
  height: 40px;
  font-size: 14px;
}

.item-results-filter__calendar-button {
  width: 44px;
  height: 44px;
  position: relative;
  background: #FC6733;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-left: 8px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media only screen and (min-width: 991px) {
  .item-results-filter__calendar-button {
    display: none;
  }
}

.item-results-filter__calendar-button span {
  font-size: 20px;
  color: #fff;
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item-results-filter__name {
  margin-right: 12px;
  font-size: 14px;
}

@media only screen and (max-width: 991px) {
  .item-results-filter__name {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.item-results-filter__sort-key {
  margin-left: 10px;
}

.item-results-filter__caption {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
}

@media only screen and (max-width: 991px) {
  .item-results-filter__caption {
    display: none;
  }
}

.item-results-filter__dd {
  position: absolute;
  z-index: 2;
  top: 105%;
  left: 0;
  width: 368px;
  padding: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
  box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
  -webkit-border-radius: 12px;
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: auto;
}

@media only screen and (max-width: 991px) {
  .item-results-filter__dd {
    opacity: 1;
    visibility: visible;
    position: static;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

@media only screen and (max-width: 576px) {
  .item-results-filter__dd .place_service-item {
    font-size: 14px;
    line-height: 1.5;
    padding: 8px 8px 8px 40px;
  }
}

.item-results-filter__dd .place_service-item:last-child {
  margin-right: 0;
}

.item-results-filter__dd .place_service-item.disabled {
  background-color: rgba(34, 34, 34, 0.1);
  color: #fff;
}

.item-results-filter__dd .place_service-item.disabled .place_service-item-icon {
  color: #fff;
}

@media only screen and (max-width: 576px) {
  .item-results-filter__dd .place_service-item span {
    font-size: 24px;
    height: inherit;
  }
}

.item-results-filter__dd .place_service-item .place_service-item-icon {
  color: #FC6733;
}

.item-results-filter__dd .easepick-wrapper {
  position: relative !important;
}

@media only screen and (max-width: 991px) {
  .item-results-filter__dd .easepick-wrapper {
    position: absolute !important;
    visibility: hidden;
    opacity: 0;
    bottom: 60px;
    width: 100%;
  }
}

.item-results-filter__dd .range-top {
  display: none;
}

.item-results-filter__dd .range {
  height: 50px;
}

.item-results-filter__dd .range .noUi-target {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

.item-results-filter__dd .range .noUi-horizontal {
  height: 3px;
}

.item-results-filter__dd .range .noUi-marker-horizontal.noUi-marker-large {
  height: 10px;
  width: 3px;
  background-color: #E5E5E5;
}

.item-results-filter__dd .range .noUi-marker-horizontal.noUi-marker-large.active {
  background-color: #FC6733;
}

.item-results-filter__dd .range .noUi-value {
  padding-top: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: rgba(34, 34, 34, 0.4);
}

.item-results-filter__dd .range .noUi-connect {
  top: 0;
  background-color: #FC6733;
  margin-left: -15px;
}

.item-results-filter__dd .range .noUi-horizontal .noUi-handle {
  width: 19px;
  height: 19px;
  margin-top: -9px;
  background-color: #fff;
  border-color: #FC6733;
}

.item-results-filter__dd .range .noUi-horizontal .noUi-handle:before {
  content: "\e923";
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #FC6733;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  font-size: 8px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.item-results-filter__dd .noUi-pips {
  top: -14px;
}

.item-results-filter__dd .noUi-pips div:first-of-type {
  display: none;
}

.item-results-filter__dd .noUi-pips div:last-of-type {
  display: none;
}

.item-results-filter__dd .noUi-pips div:nth-child(2), .item-results-filter__dd .noUi-pips div:nth-child(13) {
  display: none;
}

.item-results-filter__dd .noUi-pips div:nth-child(4), .item-results-filter__dd .noUi-pips div:nth-child(12) {
  color: #000;
}

.item-results-filter__inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .item-results-filter__inputs .form_inp {
    width: 129px;
    padding-left: 16px;
    border: 1px solid rgba(26, 27, 50, 0.2);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {
  .item-results-filter__inputs .form_inp {
    width: 102px;
  }
}

.item-results-filter__inputs .item-results-filter__divide {
  width: 10px;
  height: 2px;
  margin: 0 8px;
  background-color: rgba(26, 27, 50, 0.2);
}

.results-filter__map-open {
  font-size: 14px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media only screen and (max-width: 991px) {
  .results-filter__map-open {
    display: none;
  }
}

.results-filter__map-open .icon-place_contacts-item2 {
  margin-right: 10px;
}

.results-filter__map-open .icon-place_contacts-item2:before {
  font-size: 19px;
  color: #222222;
}

.item-results-filter__form {
  margin-bottom: 24px;
}

.item-results-filter__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.item-results-filter__label:not(:last-child) {
  margin-bottom: 17px;
}

.item-results-filter__input {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  display: block;
  left: 50%;
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.item-results-filter__input:checked + .item-results-filter__radio {
  border-color: #FC6733;
}

.item-results-filter__input:checked + .item-results-filter__radio:before {
  display: block;
}

.item-results-filter__radio {
  width: 20px;
  height: 20px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(34, 34, 34, 0.2);
  position: relative;
  margin-right: 10px;
}

.item-results-filter__radio:before {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  background-color: #FC6733;
}

.item-results-filter__radio-value {
  font-size: 14px;
}

.resuls-map {
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.resuls-map.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.resuls-map__close {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 32px;
  right: 32px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f9f9fa;
  cursor: pointer;
  z-index: 2;
}

.resuls-map__close .icon-delete {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.resuls-map__map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.resuls-map__bottom {
  max-width: 902px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.resuls-map__bottom .filter-tags {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 991px) {
  .resuls-map__bottom .filter-tags {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: visible;
  }
}

@media only screen and (max-width: 767.98px) {
  .resuls-map__bottom .filter-tags {
    row-gap: 8px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    padding: 0 15px;
  }
}

.resuls-map__bottom .filter-tags__cover {
  display: none;
}

.resuls-map__bottom .filter-tag {
  -webkit-box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
  box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
}

@media only screen and (max-width: 767.98px) {
  .resuls-map__bottom .filter-tag {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.resuls-map__bottom .filter-tag.active .filter-tag__icon {
  color: #fff;
}

.resuls-map__bottom .filter-tag .filter-tag__icon {
  color: #7A7A7A;
}

@media only screen and (max-width: 767.98px) {
  .resuls-map__bottom .filter-tag .filter-tag__icon {
    font-size: 21px;
  }
}

@media only screen and (max-width: 767.98px) {
  .resuls-map__bottom .filter-tag .filter-tag__icon.icon-type {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767.98px) {
  .resuls-map__bottom .filter-tag .filter-tag__name,
  .resuls-map__bottom .filter-tag .icon-close {
    display: none;
  }
}

.results-mobile-toggler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  width: 285px;
  padding: 0 4px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 44px;
  border-radius: 44px;
}

@media only screen and (min-width: 991px) {
  .results-mobile-toggler {
    display: none;
  }
}

.results-mobile-toggler__item {
  width: 50%;
  position: relative;
  padding-left: 25px;
  padding-right: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.results-mobile-toggler__item:first-child:after {
  content: '';
  position: absolute;
  width: 1px;
  right: -0.5px;
  top: 0;
  height: 100%;
  background-color: #CCCCCC;
}

.results-mobile-toggler__icon {
  margin-right: 10px;
  color: #FC6733;
}

.search-resuls-plug {
  padding-top: 74px;
  min-height: 300px;
  text-align: center;
}

.search-resuls-plug p {
  margin: 0 auto;
  max-width: 492px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.4);
}

.search-resuls-plug__icon {
  width: 45px;
  height: 45px;
  margin: 0 auto 24px auto;
}

.search-resuls-plug__title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/*--------------------END search-results-page----------------------*/
/*--------------------search-results-cards----------------------*/
.search-results-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 24px;
}

@media only screen and (max-width: 767.98px) {
  .search-results-cards {
    margin-left: 0;
    margin-right: 0;
  }
}

.similar_slide {
  width: auto;
}

.result-card {
  width: -webkit-calc((100% / 2) - 24px);
  width: calc((100% / 2) - 24px);
  margin-bottom: 32px;
  margin-left: 12px;
  margin-right: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-width: 767.98px) {
  .result-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.result-card:not(.result-card--services) .room_card-title {
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (max-width: 767.98px) {
  .result-card:not(.result-card--services) .room_card-title {
    -webkit-line-clamp: none;
    -webkit-box-orient: horizontal;
    overflow: visible;
  }
}

@media only screen and (max-width: 480px) {
  .result-card:not(.result-card--services) .similar_slide-link {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .result-card:not(.result-card--services) .similar_slide-link .similar_slide-btn {
    margin-top: 10px;
    width: 100%;
  }
}

.result-card:not(.result-card--services) .similar_slide-btn {
  height: 52px;
}

@media screen and (max-width: 1200px) {
  .result-card--services .room_card-title {
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 767.98px) {
  .result-card--services .room_card-title {
    overflow: visible;
    white-space: normal;
  }
}

.result-card--services .similar_slide-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (max-width: 767.98px) {
  .result-card--services .similar_slide-text {
    -webkit-line-clamp: none;
    -webkit-box-orient: horizontal;
    overflow: visible;
  }
}

@media only screen and (max-width: 1100px) {
  .result-card--services .similar_slide-link {
    display: block;
  }
}

.result-card .similar_slide-info {
  padding: 24px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-width: 576px) {
  .result-card .similar_slide-info {
    padding: 16px;
  }
}

.result-card .similar_slide-top {
  position: relative;
}

.result-card .room_card-title {
  margin-bottom: 8px;
  padding-right: 8px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

@media only screen and (max-width: 991px) {
  .result-card .room_card-title {
    font-size: 24px;
    line-height: 29px;
  }
}

.result-card .similar_slide-img {
  padding-bottom: 20.2%;
  height: 0;
}

.result-card .similar_slide-img img {
  top: 0;
  display: block;
  padding: 0;
  font-size: inherit;
  background-color: transparent;
}

.result-card .similar_slide-adres {
  color: #222222;
}

.result-card .similar_slide-text {
  padding-right: 29px;
  margin-bottom: 16px;
  color: rgba(34, 34, 34, 0.6);
}

@media only screen and (max-width: 767.98px) {
  .result-card .similar_slide-text {
    padding-right: 0;
  }
}

@media only screen and (max-width: 575.98px) {
  .result-card .similar_slide-text {
    -webkit-line-clamp: none;
    -webkit-box-orient: horizontal;
    overflow: visible;
  }
}

.result-card .place_service-items {
  margin-bottom: 27px;
}

.result-card .place_service-item {
  color: #222222;
}

.result-card .similar_slide-link {
  margin-top: auto;
}

.result-card .similar_slide-link .similar_slide-btn {
  width: 134px;
}

@media only screen and (max-width: 480px) {
  .result-card .similar_slide-link .similar_slide-btn {
    height: 40px;
  }
}

.result-card .similar_slide-sutitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  color: #222222;
}

.result-card .similar_slide-rating {
  padding-left: 35px;
  margin-left: -15px;
}

.result-card .result-card__bottom-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .result-card .result-card__bottom-box {
    margin-top: 17px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.result-card .result-card__reservation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  font-size: 12px;
  color: #256FFB;
}

@media only screen and (max-width: 320px) {
  .result-card .result-card__reservation {
    margin-right: 0;
  }
}

.result-card .result-card__reservation .icon-hotel {
  margin-right: 5px;
  font-size: 16px;
}

.place_service-item--adding {
  padding-right: 12px;
}

.place_service-item--adding .place_service-item-icon {
  margin-left: 5px;
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
  .place_service-item--adding .place_service-item-icon {
    margin-top: 2px;
    font-size: 13px;
  }
}

.search-results-cards__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  margin-right: 12px;
  margin-left: 12px;
}

@media only screen and (max-width: 767.98px) {
  .search-results-cards__bottom {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.search-results-cards__offers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(34, 34, 34, 0.4);
}

@media only screen and (max-width: 767.98px) {
  .search-results-cards__offers {
    display: none;
  }
}

.search-results-cards__offers-count {
  margin-right: 4px;
  color: #222222;
}

.search-results-cards__more {
  width: 154px;
  height: 52px;
}

@media only screen and (max-width: 767.98px) {
  .search-results-cards__more {
    width: 100%;
    background-color: #FC6733;
    color: #fff;
  }
}

@media only screen and (max-width: 767.98px) {
  .search-results-cards__more .desk {
    display: none;
  }
}

@media only screen and (min-width: 767.98px) {
  .search-results-cards__more .mob {
    display: none;
  }
}

.search-results-cards__pagin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 767.98px) {
  .search-results-cards__pagin {
    display: none;
  }
}

.search-results-cards__places {
  margin-right: 16px;
  color: #222222;
}

.search-results-cards__places-count {
  padding: 0 23px;
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #F0F0F0;
  -webkit-border-radius: 34px;
  border-radius: 34px;
}

.search-results-cards__places-count .icon-faq_arrow {
  margin-left: 10px;
}

/*--------------------END search-results-cards----------------------*/

/*# sourceMappingURL=maps/main.css.map */
